<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header class="header">
    <!-- <div class="container"> -->
      <h1>Daily Agenda:</h1>
      <form action="/list" method="POST">
        <label for="addingTasks"></label>
        <input id="taskAdd" type="text" name="add">
        <input type="submit">
      </form>
  </header>
  <main>
    <ul>
      <h3>Things to do:</h3>

        {{#list}}
      <li class="todoList">
        <form action="/" method="POST">
        <button  type="submit" name="finish" value="{{.}}">Completed</button>
        </form>
         {{.}}
      </li>
        {{/list}}

    </ul>
    <ul>
      <h3>Things completed:</h3>
      {{#complete}}

      <li>
          <p>{{.}}</p>
      </li>

      {{/complete}}
    </ul>
  </main>
  <!-- </div> -->
</body>

</html>
