/*body{
  background-image: url("./notebook-background.jpg");
  background-repeat: no-repeat;
}

.container{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

ul{
  list-style-type: none;

}*/
body{
  box-sizing: border-box;
  background-image: url('./chalkboard.jpg');
}

ul{
  margin: 0;
  padding: 0;
}

li{
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
}
